:root {
    --color-principal: #179a4a;
    --color-links: yellow;
    --font-montserratbold: 'Montserrat', sans-serif;
}

header {
    background-color: var(--color-principal);
}

li {
    list-style-type: none;
    display: inline-block;
}

a:link, a:visited{
    color: var(--color-links);
}

.liheader {
    padding-right: 40px;
}

html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

/*Css botões do header*/
button {
    outline: none !important;
    cursor: pointer !important;
    border: none !important;
    padding: 10px 5px !important;
    margin: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    position: relative !important;
    display: inline-block !important;
    letter-spacing: 0.05rem !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-radius: 500px !important;;
    overflow: hidden !important;
    background: #66ff66 !important;
    color: ghostwhite !important;
   }
   
   button span {
    position: relative !important;
    z-index: 10 !important;
    transition: color 0.4s !important;
   }
   
   button:hover span {
    color: black !important;
   }
   
   button::before,
   button::after {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 0 !important;
   }
   
   button::before {
    content: "" !important;
    background: #179a4a !important;
    width: 120% !important;
    left: -10% !important;
    transform: skew(30deg) !important;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1) !important;
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0) !important;
   }
   